TOKEN=          # Discord Token
MONGODB_URL=    # MongoDB database uri to store server configurations and events
LOGDNA_KEY=     # (Optional) LogDNA key to store your logs into a server
LOGGLY_KEY=     # (Optional) Loggly key to store your logs into a server
AWS_ACCESS_KEY= # (Optional) If you wish to use an S3 bucket to store images
AWS_SECRET_KEY= # (Optional) Secret key for AWS Access Key
AWS_REGION=     # (Optional) AWS Region. Default: us-east-1
AWS_BUCKET=     # (Optional) AWS S3 Bucket name. Default: albion-killbot
